.app-container {
  max-width: 500px;
  min-width: 500px;
  margin: 20px auto;
}

.weather-app {
  background: linear-gradient(#4ab6f2, #fff);
  box-shadow: 1px 1px 5px #e7e9ec;
  border-radius: 10px;
  color: #fff;
  padding: 15px 10px;
}

.search-input,
.search-button,
.current-location {
  box-shadow: 1px 1px 5px #adbbc9;
  border-radius: 5px;
  border: none;
  margin-bottom: 15px;
  color: #2b679b;
}

.search-form {
  display: inline;
}

.search-input {
  min-width: 84%;
}

.search-input:focus-visible {
  outline-color: #b3e1fa;
}

h1 {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 5px;
}

p {
  font-size: 14px;
}

ul {
  margin: 0;
  padding: 0;
  padding-left: 15px;
}

li {
  list-style: none;
  font-size: 16px;
  font-weight: 500;
}

span.degree {
  font-size: 70px;
  font-weight: 500;
  line-height: 70%;
}

span.units {
  font-size: 12px;
  font-weight: 600;
  position: relative;
  top: -41px;
}

a.non-active {
  color: #fff;
  text-decoration: none;
  cursor: default;
}

.weather-name {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  margin-top: -27px;
}

.weather-name:first-letter {
  text-transform: capitalize;
}

.main-weather-icon {
  display: block;
  margin: 0 auto;
  margin-top: -30px;
}

.forecast-day-container {
  color: #4ab6f2;
  background: #fff;
  box-shadow: 1px 1px 5px #e7e9ec;
  border-radius: 5px;
  padding: 5px 0;
  margin: 0;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
}

.small-weather-image {
  display: block;
  margin: -10px auto;
  max-width: 100%;
}

p.gitHubLink {
  font-size: 12px;
  margin-top: 10px;
}
